@using DFDSBetting.Models
@model List<ScoreBetIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Your Bets</h2>

<ul class="row" style="list-style-type:none;">
    @foreach (var pair in Model)
    {
        <li class="col-md-6">
            <div class="card border-primary text-center" style="margin-bottom:10px;">
                @Html.Partial("_MatchPartial", pair.Match)
                @if (pair.ScoreBet == null)
                {
                    @Html.Partial("_NewBetPartial", new NewScoreBetViewModel() { MatchId = pair.Match.Id })
                }
                else
                {
                    @Html.Partial("_BetPartial", pair.ScoreBet)
                }
            </div>
        </li>
    }
</ul>
