@using DFDSBetting.Models
@model List<UsersWithPointsViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Leaderboard</h2>

<ul>
@foreach (var user in Model)
{
    <li>@user.UserName - @user.Points</li>
}
</ul>

