@model DFDSBetting.Models.NewWinnerBetViewModel

@using (Html.BeginForm("MakeBet", "WinnerBets"))
{
    @Html.AntiForgeryToken()

    <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.TeamId)
        <input type="submit" value="Place Bet" class="btn btn-danger btn-block" />
    </div>

}


